.caja_presentacion{
    margin-top: 5rem;
}
.foto_plato{
    height: 347px;
    background-size: cover;
    background-position: center;
    margin-bottom: 3rem;
    margin-left: -30px;
}
.pasta_calabaza{
    background-image: url(../img/foto_pasta_calabaza.jpg);
}
.pasta_mejillones{
    background-image: url(../img/foto_pasta_mejillones.jpg);
}
.pasta_champinones{
    background-image: url(../img/pasta_con_champinones.jpg);
}
.pasta_gambas{
    background-image: url(../img/pasta_con_gambas.jpg);
}
.solomillo{
    background-image: url(../img/foto_solomillo.jpg);
}

.salmon_con_verduras{
    background-image: url(../img/foto_salmon_con_verduras.jpg);
}
.pure_verduras{
    background-image: url(../img/pure_de_verduras.jpg);
}
.pasta_esparragos{
    background-image: url(../img/foto_pasta_esparragos.jpg);
}
@media screen and (min-width: 760px){
    .foto_plato{
      margin-left: 100px;
      width: 724px;
    }
    .out{
        display: none;
        margin-top: 0;
    }
}
.container_receta{
    padding-top: 50px;
}
.icono{
    width: 30px;
}
.ficha{
    margin-left: 30px;
    border: 3px solid #333333;
    margin: auto;
    padding:2rem;  
    width: 218px;
  }
.dificultadYpreparacion, .cocinaYdosis{
    display: flex;
}
@media screen and (min-width: 760px){
    .ficha{
      display: flex;
      margin-left: 100px;
      width: 530px;
    }
    .cocinaYdosis{
        margin-left: 0;
      }
      .preparacion{
        margin-left: 0;
    }
    .cocinaYdosis{
        margin-left: 0;
    }
    .caja_titulo{
        margin: 0 auto;
    }
    .caja_iconos{
        margin: 0 auto;
    }
}
@media screen and (min-width: 1024px){
    .caja_iconos{
      display: flex;
    }
    .cocinaYdosis{
        margin-left: 48px;
      }
}
.preparacion{
    margin-left: 48px;
}
.dosis{
    margin-left: 75px;
}
.descripcion{
    margin-top: 65px;
}
@media screen and (min-width: 760px){
    .descripcion{
      margin-top: 70px;
    }
    .comosehace{
        margin-top: 35px;
        max-width: 50%;
    }
}
.ingredientes{
    background: rgb(247, 244, 244);
    padding: 1rem;
}
.comosehace{
    margin-top: 35px;
    max-width: 80%;
}
.blue{
    padding: 0.5rem 30px;
    margin-top: 5rem;
    color: #333333;
    background: #FCEC9B;
    text-decoration: none;
}
@media screen and (min-width : 760px){
    .blue{
    padding: 0.5rem 100px;
    }
  }
.back{
    display: flex;
    padding-top: 2rem;
    
}
.blue:hover{
    background-color: rgba(243, 241, 105, 0.986);
}