.container_ficha{
    padding-top: 20px;
}
@media screen and (min-width: 1024px){
    .container_ficha{
        padding-top: 130px; 
    }
    .pres{
    height: 347px;
    }
}
@media screen and (min-width: 760px){
    .pres{
        width: 421px;
        margin: auto;
    }
}
@media screen and (min-width: 1024px){
    .pres{
      width: 408px;
      margin-left: 100px;
    }
    .container_ficha{
        display: flex;
 }
    .nomargin{
        padding-top: 0;
        margin-top: 0;
    }
}
.info{
    border: 3px solid #333333;
    margin: auto;
    padding:2rem;  
    width: 213px;
}

@media screen and (min-width: 760px){
    .info{
        margin-top: 2rem;
        width: 490px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1024px){
    .info{
        margin-top: 7.4rem;
    }
}
@media screen and (min-width: 1024px){
    .top{
        margin-top: 0;
    }
}
.boton{
    background-color: #FCEC9B;
    padding:0 10px;
    width: auto;
    font-family: anton, sans serif;
    font-size: 28px;
    line-height: 54px;
    color: #333333;
    text-decoration: none;
    margin-left: 33px;
}
@media screen and (min-width: 760px){
    .boton{
        margin-left: 163px;
        margin-top: 1rem;
    }
}
.boton:hover{
    background-color: rgba(243, 241, 105, 0.986);
}
.titulo_plato{
    font-family: anton, sans serif;
    font-size: 18px;
    margin-bottom: 3rem;
    color: #333333; 
    margin-top: 0;
}
@media screen and (min-width : 760px){
    .titulo_plato{
    font-size: 24px;
    margin-left: 118px;
    }
  }
